{% extends 'base.html' %}

{% block content %}



  <div class="col-lg-12">
    <div class="card">
       <div class="card-body">
       <div class="card-title">Image Uploader</div>
       <hr>



       <form action="{{ url_for('upload') }}" method="post" id="upload_images_form" autocomplete="off" enctype=multipart/form-data>
        <div class="form-group row autocomplete">
            <label class="col-lg-3 col-form-label form-control-label">Camera ID</label>
            <div class="col-lg-9">
                <input type="text" class="form-control form-control-rounded" id="cameraNumberInput" name="cameraID" form="upload_images_form" placeholder="e.g. 0010" required>
                <!--<input name="camera_ID" form="upload_images_form" class="form-control" type="text" required>-->
            </div>
        </div>
        <!--
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Choose File</label>
            <div class="col-lg-9">
                <input class="form-control" form="upload_images_form" type="file" name=file multiple="" required>
            </div>
        </div>-->

        <div class="form-group row">
          <label class="col-lg-4 col-form-label form-control-label">Choose files</label>
          <div class="col-lg-8">
            <div class="custom-file-container" data-upload-id="myUniqueUploadId">
              <label>Upload File
                  <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">&times;</a></label>
              <label class="custom-file-container__custom-file">
                  <input
                      form="upload_images_form"
                      type="file"
                      class="custom-file-container__custom-file__custom-file-input"
                      accept="*"
                      multiple
                      aria-label="Choose File"
                      required
                      name=file
                  />
                
                  <span
                      class="custom-file-container__custom-file__custom-file-control"
                  ></span>
              </label>
              <div class="custom-file-container__image-preview" style="overflow: hidden;"></div>
          </div>
          </div>
      </div>

        
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
                <input type="submit" form="upload_images_form" class="btn btn-light btn-round px-5" style="float: right;" value="Analyse Images" onclick="loading();">
            </div>
        </div>
    </form>

    {% if message %}
    <div class="card-body pt-5">
      <h5 class="card-title">Batch Report</h5>
    </div>
    <div class="card-body border-top border-light">
        <div class="media align-items-center">
          <div>
              <img src="./static/images/total_images.png" class="skill-img" alt="skill img">
          </div>
            <div class="media-body text-left ml-3">
              <div class="progress-wrapper">
                <p>Total Images : {{total_images}}</p>
                
               </div>                   
           </div>
         </div>
         <hr>
         <div class="media align-items-center">
          <div><img src="./static/images/logo.png" class="skill-img" alt="skill img"></div>
            <div class="media-body text-left ml-3">
              <div class="progress-wrapper">
                <p>Panda  <span class="float-right">{{true_positives}}%</span></p>
                <div class="progress" style="height: 5px;">
                 <div class="progress-bar" style="width: {{true_positives}}%"></div>
                </div>
               </div>                   
           </div>
         </div>
          <hr>
         <div class="media align-items-center">
          <div><img src="./static/images/logo.png" class="skill-img" alt="skill img"></div>
            <div class="media-body text-left ml-3">
              <div class="progress-wrapper">
                <p>Not Panda <span class="float-right">{{false_positives}}%</span></p>
                <div class="progress" style="height: 5px;">
                 <div class="progress-bar" style="width:{{false_positives}}%"></div>
                </div>
               </div>                   
           </div>
         </div>
         
     </div>

     <div class="row mt-3">

      <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">              
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <img src="" class="imagepreview" style="width: 100%;" >
            </div>
          </div>
        </div>
      </div>
        
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Panda</h5>
            <ul id="panda_zone" class="panda_zone ui-helper-reset ui-helper-clearfix">

              {% for panda_image in panda_files %}
                <li class="ui-widget-content ui-corner-tr">
                  <a href="#" class="pop"><img src="{{panda_image}}" alt="Not a panda" width="100" height="80"></a>
                  
                </li>
              {% endfor %}
            
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Not Panda</h5>
            <ul id="non_panda_zone" class="non_panda_zone ui-helper-reset ui-helper-clearfix">
              
              {% for non_panda_image in non_panda_files %}
              <li class="ui-widget-content ui-corner-tr">
                <a href="#" class="pop"><img src="{{non_panda_image}}" alt="Not a panda" width="100" height="80"></a>
              </li>
              {% endfor %}
            
            </ul>
          </div>
        </div>
      </div>
    </div><!--End Row-->

    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label"></label>
      <div class="col-lg-9">
          <input type="submit"  class="btn btn-light btn-round px-5" style="float: right;" value="Upload Images" onclick="console.log('pressed button')">
      </div>
    </div>

    {% endif %}

     </div>
     </div>
  </div>


  <script>
    var upload = new FileUploadWithPreview("myUniqueUploadId",{
                showDeleteButtonOnImages: true,
                
            });

    $(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal').modal('show');   
		});	
    
});
  </script>

{% endblock %}