{% extends 'base.html' %}

{% block content %}



  <div class="col-lg-12">
    <div class="card">
       <div class="card-body">
       <div class="card-title">Image Uploader</div>
       <hr>



       <form action="{{ url_for('upload') }}" method="post" id="upload_images_form" autocomplete="off" enctype=multipart/form-data>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Camera ID</label>
            <div class="col-lg-9">
                <input name="camera_ID" form="upload_images_form" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Choose File</label>
            <div class="col-lg-9">
                <input class="form-control" form="upload_images_form" type="file" name=file multiple="" required>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
                <input type="submit" form="upload_images_form" class="btn btn-light btn-round px-5" style="float: right;" value="Upload Image" onclick="loading();">
            </div>
        </div>
    </form>

    {% if message %}
    <div class="card-body border-top border-light">
        <div class="media align-items-center">
          <div>
              <img src="./static/images/total_images.png" class="skill-img" alt="skill img">
          </div>
            <div class="media-body text-left ml-3">
              <div class="progress-wrapper">
                <p>Total Images : {{total_images}}</p>
                
               </div>                   
           </div>
         </div>
         <hr>
         <div class="media align-items-center">
          <div><img src="./static/images/logo.png" class="skill-img" alt="skill img"></div>
            <div class="media-body text-left ml-3">
              <div class="progress-wrapper">
                <p>True Positives  <span class="float-right">{{true_positives}}%</span></p>
                <div class="progress" style="height: 5px;">
                 <div class="progress-bar" style="width: {{true_positives}}%"></div>
                </div>
               </div>                   
           </div>
         </div>
          <hr>
         <div class="media align-items-center">
          <div><img src="./static/images/logo.png" class="skill-img" alt="skill img"></div>
            <div class="media-body text-left ml-3">
              <div class="progress-wrapper">
                <p>False Positives <span class="float-right">{{false_positives}}%</span></p>
                <div class="progress" style="height: 5px;">
                 <div class="progress-bar" style="width:{{false_positives}}%"></div>
                </div>
               </div>                   
           </div>
         </div>
         
     </div>
    {% endif %}

          <!--
          <form method="POST" autocomplete="off" name="form-example-1" id="form-example-1" enctype="multipart/form-data">

            <div class="autocomplete">
              <label for="input-6">Camera Number</label>
              <input type="text" class="form-control form-control-rounded" id="cameraNumberInput" name="cameraID" placeholder="e.g. 0010">
             </div>

            <div class="input-field">
                <label class="active">Photos</label>
                <div class="input-images-1" style="padding-top: .5rem;"></div>
            </div>

            <button type="submit" class="btn btn-light btn-round px-5" style="float: right;">Submit</button>

            </form>
          -->





     </div>
     </div>
  </div>


{% endblock %}